---
import { Image } from "astro:assets";
import top_back_light from "../../assets/top_back_light.png";
import recent_products_light from "../../assets/recent_products_light.png";
---

<div class="container">
    <div class="content">
        我们是 WaterFlames，<br />在各个领域探索无限的可能性。
    </div>
    <Image
        src={top_back_light}
        alt=""
        fetchpriority="high"
        class="top-back"
        draggable="false"
    />
    <Image
        src={recent_products_light}
        alt=""
        fetchpriority="high"
        class="recent-back"
        draggable="false"
    />
    <div class="icp">
        © 2019-2024 WaterFlames.cn. All Rights
        Reserved.｜状态监控｜闽ICP备2024035715号-1｜中国互联网违法和不良信息举报中心
    </div>
</div>

<style>
    .container {
        position: relative;
        width: 100%;
        min-height: 100vh;
        overflow-x: hidden;
        display: flex;
        flex-direction: column;
    }

    .content {
        position: absolute;
        top: 400px;
        left: 220px;
        color: #fff;
        font-family: ChillDINGothic, "Gill Sans", "Gill Sans MT", Calibri,
            "Trebuchet MS", sans-serif;
        font-size: 48px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        z-index: -1;
    }

    .top-back {
        position: absolute;
        top: -360px;
        left: 0px;
        object-position: top;
        z-index: 0;
        display: block;
    }
    .recent-back {
        position: absolute;
        top: 1000px;
        left: -430px;
        object-position: top;
        z-index: 0;
        display: block;
    }

    .icp {
        margin-top: auto;
        padding-bottom: 40px;
        color: #fff;
        text-align: center;
        font-family: ChillDINGothic;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    
</style>
